<div class="container">
    <h2>Create new Account</h2>
    <table>
        <tr>
            <td>Username</td>
            <td><input type="text" [(ngModel)]="this.user.Username" required="required"></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" [(ngModel)]="this.user.Password" required="required"></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="text" [(ngModel)]="this.user.Email" required="required"></td>
        </tr>
        <tr>
            <td>Mobile</td>
            <td><input type="text" [(ngModel)]="this.user.Mobile" required="required"></td>
        </tr>
    </table>
    <button class="button" (click) = "AddNewUser()">Sign Up</button>
</div>