<div class="container">
    <h3>Enter Username and Password.</h3>
    <table>        
        <tr>
            <td>Username</td>
            <td><input type="text" [(ngModel)]="this.user.Username" required="required"></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" required="required" [(ngModel)]="this.user.Password" ></td>
        </tr>
    </table>
    <button class="button" (click)="ValidateUserLogin()">Login</button>
    <h4>New User?</h4>
    <button class="button" (click)="SignupUser()">Sign Up</button>
</div>